HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### User-made: NODEJS ###
node_modules/

### User-made: compiled javascript ###
bundle.js
bundle.js.map

### User-made: maven compiled wrapper ###
.mvn/wrapper/maven-wrapper.jar
